<%= form_with url: url_for([action_name, @account]), local: true do |form| %>
  <div>
    <%= form.label :amount, "Amount to #{action_name}" %><br>
    <%= form.number_field :amount, step: 0.01 %>
  </div>
  <br>
  <div>
    <%= form.submit action_name %>
  </div>
<% end %>